/TareasAD/Tema5/Tema5DB4o/nbproject/private/
/TareasAD/EjemploTarea5/Congreso/build/
/TareasAD/EjemploTarea5/Congreso/nbproject/private/
/TareasAD/Tema5/Tema5DB4o/build/
/TareasAD/Tema5/Tema5DB4o/dist/