/TareasAD/Tema5/Tema5DB4o/dist/
/TareasAD/Tema6/AccesoeXistDB/nbproject/private/
/TareasAD/Tema6/AccesoeXistDB/build/
/TareasAD/Tema7/proyectos/PanelAlumnos/nbproject/private/
/TareasAD/Tema7/proyectos/PanelAlumnos/build/
/TareasAD/Tema7/proyectos/PanelAlumnos/dist/
/TareasAD/Tema7/proyectos/AlumnoBean/build/
/TareasAD/Tema7/proyectos/AlumnoBean/dist/
/TareasAD/Tema7/proyectos/AlumnoBean/nbproject/private/